<table class="showSmiliesTable1" style="z-index: 9999">
	<tr>
		<td><img src="img/emojis/happy.png" class="smiles"
			aria-label="happy" onclick="sendSmiley($(this))" /></td>
		<td><img src="img/emojis/happygirl.png" class="smiles"
				aria-label="allthebest" onclick="sendSmiley($(this))"></td>
		<td><img src="img/emojis/blush.png" class="smiles" aria-label="angel"
				onclick="sendSmiley($(this))"></td>
		<td><img src="img/emojis/laugh.png" class="smiles" aria-label="anger"
				onclick="sendSmiley($(this))"></td>
		<td><img src="img/emojis/laughingclap.png" class="smiles" aria-label="angry"
				onclick="sendSmiley($(this))"></td>
	</tr>
	<tr>
		<td><img src="img/emojis/hurt.png" class="smiles"
			aria-label="afraid" onclick="sendSmiley($(this))" /></td>
		<td><img src="img/emojis/angry.png" class="smiles"
				aria-label="allthebest" onclick="sendSmiley($(this))"></td>
		<td><img src="img/emojis/blame.png" class="smiles" aria-label="angel"
				onclick="sendSmiley($(this))"></a></td>
		<td><img src="img/emojis/veryangry.png" class="smiles" aria-label="anger"
				onclick="sendSmiley($(this))"></a></td>
		<td><img src="img/emojis/fine.png" class="smiles" aria-label="angry"
				onclick="sendSmiley($(this))"></a></td>
	</tr>
	<tr>
		<td><img src="img/emojis/awesome.png" class="smiles"
			aria-label="afraid" onclick="sendSmiley($(this))" /></td>
		<td><img src="img/emojis/pumpkin.png" class="smiles"
				aria-label="allthebest" onclick="sendSmiley($(this))"></td>
		<td><img src="img/emojis/topclass.png" class="smiles" aria-label="angel"
				onclick="sendSmiley($(this))"></a></td>
		<td><img src="img/emojis/victory.png" class="smiles" aria-label="anger"
				onclick="sendSmiley($(this))"></a></td>
		<td><img src="img/emojis/wishluck.png" class="smiles" aria-label="angry"
				onclick="sendSmiley($(this))"></a></td>
	</tr>
	<tr>
		<td><img src="img/emojis/confused.png" class="smiles"
			aria-label="afraid" onclick="sendSmiley($(this))" /></td>
		<td><img src="img/emojis/irritate.png" class="smiles"
				aria-label="allthebest" onclick="sendSmiley($(this))"></td>
		<td><img src="img/emojis/punch.png" class="smiles" aria-label="angel"
				onclick="sendSmiley($(this))"></a></td>
		<td><img src="img/emojis/noo.png" class="smiles" aria-label="anger"
				onclick="sendSmiley($(this))"></a></td>
		<td><img src="img/emojis/thinking.png" class="smiles" aria-label="angry"
				onclick="sendSmiley($(this))"></a></td>
	</tr>
	<tr>
		<td><img src="img/emojis/angel-heart.png" class="smiles"
			aria-label="afraid" onclick="sendSmiley($(this))" /></td>
		<td><img src="img/emojis/kiss.png" class="smiles"
				aria-label="allthebest" onclick="sendSmiley($(this))"></td>
		<td><img src="img/emojis/girlslove.png" class="smiles" aria-label="angel"
				onclick="sendSmiley($(this))"></a></td>
		<td><img src="img/emojis/girlinlove.png" class="smiles" aria-label="anger"
				onclick="sendSmiley($(this))"></a></td>
		<td><img src="img/emojis/girlinlove2.png" class="smiles" aria-label="angry"
				onclick="sendSmiley($(this))"></a></td>
	</tr>
	<tr>
		<td><img src="img/emojis/heartgettingout.png" class="smiles"
			aria-label="afraid" onclick="sendSmiley($(this))" /></td>
		<td><img src="img/emojis/confused.png" class="smiles"
				aria-label="allthebest" onclick="sendSmiley($(this))"></td>
		<td><img src="img/emojis/leaveme.png" class="smiles" aria-label="angel"
				onclick="sendSmiley($(this))"></a></td>
		<td><img src="img/emojis/shout.png" class="smiles" aria-label="anger"
				onclick="sendSmiley($(this))"></a></td>
		<td><img src="img/emojis/surprise.png" class="smiles" aria-label="angry"
				onclick="sendSmiley($(this))"></a></td>
	</tr>
	<tr>
			
	<tr>
		<td><img src="img/emojis/afraid.png" class="smiles"
			aria-label="afraid" onclick="sendSmiley($(this))" /></td>
		<td><img src="img/emojis/angel.png" class="smiles"
				aria-label="allthebest" onclick="sendSmiley($(this))"></td>
		<td><img src="img/emojis/kiss2.png" class="smiles" aria-label="angel"
				onclick="sendSmiley($(this))"></a></td>
		<td><img src="img/emojis/innocent.png" class="smiles" aria-label="anger"
				onclick="sendSmiley($(this))"></a></td>
		<td><img src="img/emojis/cold.png" class="smiles" aria-label="angry"
				onclick="sendSmiley($(this))"></a></td>
	</tr>
	<tr>
		<td><img src="img/emojis/redeyedanger.gif" class="smiles"
			aria-label="afraid" onclick="sendSmiley($(this))" /></td>
		<td><img src="img/emojis/shopping.png" class="smiles"
				aria-label="allthebest" onclick="sendSmiley($(this))"></td>
		<td><img src="img/emojis/yumm.png" class="smiles" aria-label="angel"
				onclick="sendSmiley($(this))"></a></td>
		<td><img src="img/emojis/unconcious.png" class="smiles" aria-label="anger"
				onclick="sendSmiley($(this))"></a></td>
		<td><img src="img/emojis/brokenteeth.png" class="smiles" aria-label="angry"
				onclick="sendSmiley($(this))"></a></td>
	</tr>
	<tr>
		<td><img src="img/emojis/devil.png" class="smiles"
			aria-label="afraid" onclick="sendSmiley($(this))" /></td>
		<td><img src="img/emojis/foodiegirl.png" class="smiles"
				aria-label="allthebest" onclick="sendSmiley($(this))"></td>
		<td><img src="img/emojis/girlwithcandy.png" class="smiles" aria-label="angel"
				onclick="sendSmiley($(this))"></a></td>
		<td><img src="img/emojis/washinggirl.png" class="smiles" aria-label="anger"
				onclick="sendSmiley($(this))"></a></td>
		<td><img src="img/emojis/heartbreak.png" class="smiles" aria-label="angry"
				onclick="sendSmiley($(this))"></a></td>
	</tr>
	<tr>
		<td><img src="img/emojis/starwish.png" class="smiles"
			aria-label="afraid" onclick="sendSmiley($(this))" /></td>
			</tr>
			
</table>
