<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

 		<title>Be Friendly</title>
		
		<link href="material-lite/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <!-- Icon css link -->
        <link href="css/font-awesome.min.css" rel="stylesheet">
        <link href="fancy/vendors/elegant-icon/style.css" rel="stylesheet">
        <link href="fancy/vendors/themify-icon/themify-icons.css" rel="stylesheet">
        <!-- Bootstrap -->
        

        <!-- Rev slider css -->
        <link href="fancy/vendors/revolution/css/settings.css" rel="stylesheet">
        <link href="fancy/vendors/revolution/css/layers.css" rel="stylesheet">
        <link href="fancy/vendors/revolution/css/navigation.css" rel="stylesheet">
        <link href="fancy/vendors/animate-css/animate.css" rel="stylesheet">

        <!-- Extra plugin css -->
        <link href="fancy/vendors/owl-carousel/owl.carousel.min.css" rel="stylesheet">

        <link href="fancy/css/style.css" rel="stylesheet">
        <link href="css/responsive.css" rel="stylesheet">

        <link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
	<link rel="stylesheet" type="text/css" href="login/vendor/animate/animate.css">
	<link rel="stylesheet" type="text/css" href="login/vendor/css-hamburgers/hamburgers.min.css">
	<link rel="stylesheet" type="text/css" href="login/vendor/animsition/css/animsition.min.css">
	<link rel="stylesheet" type="text/css" href="login/vendor/select2/select2.min.css">
	<link rel="stylesheet" type="text/css" href="login/vendor/daterangepicker/daterangepicker.css">
	<link rel="stylesheet" type="text/css" href="login/css/util.css">
	<link rel="stylesheet" type="text/css" href="login/css/main.css"> 

	
    <link href="material-lite/assets/plugins/chartist-js/dist/chartist.min.css" rel="stylesheet">
    <link href="material-lite/assets/plugins/chartist-js/dist/chartist-init.css" rel="stylesheet">
    <link href="material-lite/assets/plugins/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.css" rel="stylesheet">
    <link href="material-lite/assets/plugins/c3-master/c3.min.css" rel="stylesheet">	
    <link href="material-lite/css/style.css" rel="stylesheet">   
    <link href="material-lite/css/colors/blue.css" id="theme" rel="stylesheet">
     <link href="material-lite/assets/plugins/dropzone-master/dist/dropzone.css" rel="stylesheet" type="text/css" />
	<!--<link href="material-lite/assets/plugins/css-chart/css-chart.css" rel="stylesheet">
    
    <link href="material-lite/assets/plugins/vectormap/jquery-jvectormap-2.0.2.css" rel="stylesheet" />
   
    <link href="material-lite/assets/plugins/calendar/dist/fullcalendar.css" rel="stylesheet" />-->
	
	
    </head>
	<body class="fix-header fix-sidebar card-no-border">