{{>head}}
{{>header}}
{{>side_navbar}}
<div id="main-wrapper">
	<div class="page-wrapper">
        <div class="container-fluid"> 
		<div class="row page-titles">
                    <div class="col-md-5 col-8 align-self-center">
                        <h3 class="text-themecolor m-b-0 m-t-0">Gallery</h3>
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                            <li class="breadcrumb-item active">Gallery</li>
                        </ol>
                    </div>

                </div>

				<div class="card">
                            <!-- Nav tabs -->
                    <ul class="nav nav-tabs profile-tab" role="tablist">
                        <li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#home" role="tab">Display Images</a> </li>
                        <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#profile" role="tab">Your Uploads</a> </li>
                        <li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#settings" role="tab">Add Pictures</a> </li>
                    </ul>
                            <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane active" id="home" role="tabpanel">
                            <div class="card-block">
                                <div class="row el-element-overlay">
									<div class="col-md-6">
										<div class="card">
											<div class="el-card-item">
												<div class="el-card-avatar el-overlay-1"> 	<img src="img/friends.jpg" alt="user" />
													<div class="el-overlay">
														<ul class="el-info">
															<li><a class="btn default btn-outline image-popup-vertical-fit" href="img/friends.jpg"><i class="icon-magnifier"></i></a></li>
															<li><a class="btn default btn-outline" href="javascript:void(0);"><i class="icon-link"></i></a></li>
														</ul>
													</div>
												</div>
												<div class="el-card-content">
													<h3 class="box-title">Project title</h3> <small>subtitle of project</small>
											<br/> </div>
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="card">
											<div class="el-card-item">
												<div class="el-card-avatar el-overlay-1"> <img src="../assets/images/big/img2.jpg" alt="user" />
													<div class="el-overlay">
														<ul class="el-info">
															<li><a class="btn default btn-outline image-popup-vertical-fit" href="../assets/images/users/1.jpg"><i class="icon-magnifier"></i></a></li>
															<li><a class="btn default btn-outline" href="javascript:void(0);"><i class="icon-link"></i></a></li>
														</ul>
													</div>
												</div>
												<div class="el-card-content">
													<h3 class="box-title">Project title</h3> <small>subtitle of project</small>
											<br/> </div>
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="card">
											<div class="el-card-item">
												<div class="el-card-avatar el-overlay-1"> <img src="../assets/images/big/img3.jpg" alt="user" />
													<div class="el-overlay">
														<ul class="el-info">
															<li><a class="btn default btn-outline image-popup-vertical-fit" href="../assets/images/users/1.jpg"><i class="icon-magnifier"></i></a></li>
															<li><a class="btn default btn-outline" href="javascript:void(0);"><i class="icon-link"></i></a></li>
														</ul>
													</div>
												</div>
												<div class="el-card-content">
													<h3 class="box-title">Project title</h3> <small>subtitle of project</small>
											<br/> </div>
											</div>
										</div>
									</div>
									<div class="col-md-6">
										<div class="card">
											<div class="el-card-item">
												<div class="el-card-avatar el-overlay-1"> <img src="../assets/images/big/img4.jpg" alt="user" />
													<div class="el-overlay">
														<ul class="el-info">
															<li><a class="btn default btn-outline image-popup-vertical-fit" href="../assets/images/users/1.jpg"><i class="icon-magnifier"></i></a></li>
															<li><a class="btn default btn-outline" href="javascript:void(0);"><i class="icon-link"></i></a></li>
														</ul>
												</div>
											</div>
											<div class="el-card-content">
												<h3 class="box-title">Project title</h3> <small>subtitle of project</small>
										<br/> </div>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="card">
										<div class="el-card-item">
											<div class="el-card-avatar el-overlay-1"> <img src="../assets/images/big/img3.jpg" alt="user" />
												<div class="el-overlay">
													<ul class="el-info">
														<li><a class="btn default btn-outline image-popup-vertical-fit" href="../assets/images/users/1.jpg"><i class="icon-magnifier"></i></a></li>
														<li><a class="btn default btn-outline" href="javascript:void(0);"><i class="icon-link"></i></a></li>
													</ul>
												</div>
											</div>
											<div class="el-card-content">
												<h3 class="box-title">Project title</h3> <small>subtitle of project</small>
										<br/> </div>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="card">
										<div class="el-card-item">
											<div class="el-card-avatar el-overlay-1"> <img src="../assets/images/big/img5.jpg" alt="user" />
												<div class="el-overlay">
													<ul class="el-info">
														<li><a class="btn default btn-outline image-popup-vertical-fit" href="../assets/images/users/1.jpg"><i class="icon-magnifier"></i></a></li>
														<li><a class="btn default btn-outline" href="javascript:void(0);"><i class="icon-link"></i></a></li>
													</ul>
												</div>
											</div>
											<div class="el-card-content">
												<h3 class="box-title">Project title</h3> <small>subtitle of project</small>
										<br/> </div>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="card">
										<div class="el-card-item">
											<div class="el-card-avatar el-overlay-1"> <img src="../assets/images/big/img6.jpg" alt="user" />
												<div class="el-overlay">
													<ul class="el-info">
														<li><a class="btn default btn-outline image-popup-vertical-fit" href="../assets/images/users/1.jpg"><i class="icon-magnifier"></i></a></li>
														<li><a class="btn default btn-outline" href="javascript:void(0);"><i class="icon-link"></i></a></li>
													</ul>
												</div>
											</div>
											<div class="el-card-content">
												<h3 class="box-title">Project title</h3> <small>subtitle of project</small>
										<br/> </div>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="card">
										<div class="el-card-item">
											<div class="el-card-avatar el-overlay-1"> <img src="../assets/images/big/img1.jpg" alt="user" />
											<div class="el-overlay">
												<ul class="el-info">
													<li><a class="btn default btn-outline image-popup-vertical-fit" href="../assets/images/users/1.jpg"><i class="icon-magnifier"></i></a></li>
													<li><a class="btn default btn-outline" href="javascript:void(0);"><i class="icon-link"></i></a></li>
												</ul>
											</div>
										</div>
										<div class="el-card-content">
											<h3 class="box-title">Project title</h3> <small>subtitle of project</small>
									<br/> </div>
									</div>
								</div>
							</div>
						</div>
					</div>
                </div>
                <div class="tab-pane" id="profile" role="tabpanel">
                    <div class="card-block">
                        <div class="card-columns el-element-overlay">
							<div class="card">
								<div class="el-card-item">
									<div class="el-card-avatar el-overlay-1">
										<a class="image-popup-vertical-fit" href="img/friends.jpg"> <img src="img/friends.jpg" alt="user" /> </a>
									</div>
									<div class="el-card-content">
										<h3 class="box-title">Project title</h3> <small>subtitle of project</small>
								<br/> </div>
								</div>
							</div>
							<div class="card">
								<div class="el-card-item">
									<div class="el-card-avatar el-overlay-1">
										<a class="image-popup-vertical-fit" href="../assets/images/users/1.jpg"> <img src="../assets/images/users/1.jpg" alt="user" /> </a>
									</div>
									<div class="el-card-content">
										<h3 class="box-title">Project title</h3> <small>subtitle of project</small>
                                <br/> </div>
								</div>
							</div>
							<div class="card">
								<div class="el-card-item">
									<div class="el-card-avatar el-overlay-1">
										<a class="image-popup-vertical-fit" href="../assets/images/users/2.jpg"> <img src="../assets/images/users/2.jpg" alt="user" /> </a>
									</div>
									<div class="el-card-content">
										<h3 class="box-title">Project title</h3> <small>subtitle of project</small>
								<br/> </div>
								</div>
							</div>
							<div class="card">
								<div class="el-card-item">
									<div class="el-card-avatar el-overlay-1">
										<a class="image-popup-vertical-fit" href="../assets/images/big/img4.jpg"> <img src="../assets/images/big/img4.jpg" alt="user" /> </a>
									</div>
									<div class="el-card-content">
										<h3 class="box-title">Project title</h3> <small>subtitle of project</small>
                                <br/> </div>
								</div>
							</div>
							<div class="card">
								<div class="el-card-item">
									<div class="el-card-avatar el-overlay-1">
										<a class="image-popup-vertical-fit" href="../assets/images/big/img2.jpg"> <img src="../assets/images/big/img2.jpg" alt="user" /> </a>
									</div>
									<div class="el-card-content">
										<h3 class="box-title">Project title</h3> <small>subtitle of project</small>
                                <br/> </div>
								</div>
							</div>
							<div class="card">
								<div class="el-card-item">
									<div class="el-card-avatar el-overlay-1">
										<a class="image-popup-vertical-fit" href="../assets/images/users/1.jpg"> <img src="../assets/images/big/img1.jpg" alt="user" /> </a>
								</div>
								<div class="el-card-content">
									<h3 class="box-title">Project title</h3> <small>subtitle of project</small>
                           <br/> </div>
							</div>
						</div>
					</div>
                </div>
            </div>
            <div class="tab-pane" id="settings" role="tabpanel">
                <div class="card-block">
                    <div class="card-body">
                        <h4 class="card-title">Dropzone</h4>
                            <h6 class="card-subtitle">Add pictures to your gallery <code>.dropzone</code> to form.</h6>
                            <form action="#" class="dropzone dz-clickable">
								<div class="dz-default dz-message"><span>Drop files here to upload</span></div></form>
					</div>  
                </div>
            </div>
         </div>					
		</div>
	</div>
</div>
{{>right_sidebar}}
{{>foot}}
{{>end}}