{{>head}}


 <section id="wrapper">
 <p>{{message}}</p>
        <div class="login-register" style="background-image:url(img/bg-image.jpg);">  
<div class="slimscrollright">		
            <div class="login-box card">
            <div class="card-body" style="padding:20px">
                <form class="form-horizontal form-material" id="loginform" action="adduser">
                    <h3 class="box-title m-b-20">Sign Up</h3>
                    <div class="form-group">
                        <div class="col-xs-12">
						<input class="form-control" type="text" name="fname" id="fname" placeholder="First Name" onkeyup="fnames()" required="">
                           
                        </div>
						<div class="col-xs-12">
						<input class="form-control" type="text" name="mname" id="mname" placeholder="Middle Name" onkeyup="mnames()">
                           
                        </div>
						<div class="col-xs-12">
						<input class="form-control" type="text" name="lname" id="lname" placeholder="Last Name" onkeyup="lnames()">
                           
                        </div>
                    </div>
                    <div class="form-group ">
                        <div class="col-xs-12">
                            
							<input class="form-control" type="email" name="email" placeholder="Email" id="email" required="">
                        </div>
                    </div>
                    <div class="form-group ">
					<p id="len" style="color:green"></p>
                        <div class="col-xs-12">
                           
							<input class="form-control" type="password" name="pass" id="pass" placeholder="Password" onkeydown="passLength()" required="">
                        </div>
                    </div>
                    <div class="form-group">
					<p id="wrong" style="color: red;"></p>
                        <div class="col-xs-12">
						<input type="password" class="form-control" name="passConfirm"
								placeholder="Re-Type Your Password" id="passConfirm" required="">
                            
                        </div>
                    </div>
					<div class="form-group">
                        <div class="col-xs-12">
						<input class="form-control" type="date" name="dob" data-format="DD/MM/YY" placeholder="DOB">
                            
                        </div>
                    </div>
					
					<div class="form-group demo-radio-button ">
                        <div class="col-xs-12">
						<div class="radio" >					
						<label><input class="form-control radio-col-cyan"" type="radio" id="female" name="gender">Female</label>			
					</div>
					<div class="radio">
						<label><input class="form-control" type="radio" id="male" name="gender" >Male</label>							
					</div>
                            
                        </div>
                    </div>
					<div class="form-group">
					<p id="nan" style="color:red"></p>
                        <div class="col-xs-12">
						<input class="form-control" type="text" name="mobile" id="mobile" placeholder="Mobile Number">
                            
                        </div>
                    </div>
					
					<div class="form-group">
					<p id="nan" style="color:red"></p>
                        <div class="col-xs-12">
						
						<select class="form-control form-control-line selectCountry" name="country">
						<option>India</option>
                                                <option>London</option>  
                                                <option>Usa</option>
                                                <option>Canada</option>
                                                <option>Thailand</option>
                                            </select>
                            
                        </div>
                    </div>
					<div class="form-group">
					
                        <div class="col-xs-12">
						<input class="form-control" type="text" name="city" placeholder="City">
                            
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="custom-control custom-checkbox mb-3">
                                <input id="checkbox-signup" type="checkbox">
                                <label for="checkbox-signup"> I agree to all <a href="#">Terms</a></label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group text-center m-t-20">
                        <div class="col-xs-12">
                            <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit" onclick="return check()">Sign Up</button>
                        </div>
                    </div>
                    <div class="form-group m-b-0">
                        <div class="col-sm-12 text-center">
                            <p>Already have an account? <a href="login" class="text-info m-l-5"><b>Sign In</b></a></p>
                        </div>
                    </div>
                </form>
                
            </div>
          </div>
        </div>
        </div>
        
    </section>			
		
{{>foot}}
{{>end}}