{{>head}}


 <section id="wrapper">
 <p>{{message}}</p>
        <div class="row" style="background-image:url(img/connect1.jpg);background-size: cover;background-repeat:no-repeat;
  background-position: center center;">
<div class="col-lg-2">		
</div>
<div class="col-lg-8">		
            <div class="card" >
            <div class="card-body" style="padding:20px">
                <form class="form-horizontal form-material" id="loginform" action="adduser">
				 <input type="hidden" id="reference" name="reference">
				<input type="hidden" id="referenceId" name="referenceId">
				<input type="hidden" id="picUrl" name="picUrl">
                    <h3 class="box-title m-b-20 font-weight-bold">Frenz4</h3>
                    <div class="form-group row">
                        <div class="col-md-4">
						<input class="form-control" type="text" name="fname" id="fname" placeholder="First Name" onkeyup="fnames()" required="">
                           
                        </div>
						<div class="col-md-4">
						<input class="form-control" type="text" name="mname" id="mname" placeholder="Middle Name" onkeyup="mnames()">
                           
                        </div>
						<div class="col-md-4">
						<input class="form-control" type="text" name="lname" id="lname" placeholder="Last Name" onkeyup="lnames()">
                           
                        </div>
                    </div>
                    <div class="form-group ">
                        <div class="col-xs-12">
                            
							<input class="form-control" type="email" name="email" placeholder="Email" id="email" required="">
                        </div>
                    </div>
                    <div class="form-group row">
					<p id="len" style="color:green"></p>
                        <div class="col-md-6">
                           
							<input class="form-control" type="password" name="pass" id="pass" placeholder="Password" onkeydown="passLength()" required="">
                        </div>
                   
                    
					<p id="wrong" style="color: red;"></p>
                        <div class="col-md-6">
						<input type="password" class="form-control" name="passConfirm"
								placeholder="Re-Type Your Password" id="passConfirm" required="">
                            
                        </div>
                    </div>
					<div class="form-group row">
                        <div class="col-md-4">
						<input class="form-control" type="date" name="dob" data-format="DD/MM/YY" placeholder="DOB">
                            
                        </div>
                   
					<div class="col-md-4">
					 <div class="custom-control custom-radio custom-control-inline">
						<input type="radio" class="custom-control-input" id="female" name="gender" value="female">
							<label class="custom-control-label" for="female">Female</label>
						</div>
					  <div class="custom-control custom-radio custom-control-inline">
						<input type="radio" class="custom-control-input" id="male" name="gender" value="male">
						<label class="custom-control-label" for="male">Male</label>
					  </div> 
					 </div>

					<p id="nan" style="color:red"></p>
                        <div class="col-md-4">
						<input class="form-control" type="text" name="mobile" id="mobile" placeholder="Mobile Number">
                            
                        </div>
                    </div>
					
					<div class="form-group row">
					
                        <div class="col-md-6">
						
						<select class="form-control form-control-line selectCountry" name="country">
						<option>India</option>
                                                <option>London</option>  
                                                <option>Usa</option>
                                                <option>Canada</option>
                                                <option>Thailand</option>
                                            </select>
                            
                        </div>
                    
					
                        <div class="col-md-6">
						<input class="form-control" type="text" name="city" placeholder="City">
                            
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="custom-control custom-checkbox mb-3">
                                <input id="checkbox-signup" type="checkbox">
                                <label for="checkbox-signup"> I agree to all <a href="#">Terms</a></label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group text-center m-t-20">
                        <div class="col-xs-12">
                            <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit" onclick="return check()">Sign Up</button>
                        </div>
                    </div>
                    <div class="form-group m-b-0">
                        <div class="col-sm-12 text-center">
                            <p>Already have an account? <a href="login" class="text-info m-l-5"><b>Sign In</b></a></p>
                        </div>
                    </div>
                </form>
                
            </div>
          </div>
        </div>
		<div class="col-lg-2">		
</div>
        </div>
        
    </section>			
		
{{>foot}}
{{>end}}