<html>
<body>
<div style="background-color:#1e88e5;margin:30px;padding:0px;" class="container">
	<h1>f4<center>Frenz4</center></h1>
</div>
<div style="margin:30px;padding:10px; margin-bottom:30px;margin-right:150px">
<p>Hey</p>
<p>Your friend {{#loggedInUser}}{{name}}{{/loggedInUser}} invited you to join our website</p>
<p>Make a new friend in just one move</p>
Join now and get 50 bonus points</p> 
<p>These points can make you get exciting offers and discounts on your booking</p>
<p>Click the button below to accept this invitation</p>
<a href="http://localhost:8080/frenz4/register"><button style="background-color:#1e88e5;color:black;border-radius:10px">Accept Invite</button></a>
</div>
<div style="margin:30px;padding:1px; margin-top:30px;background-color:#1e88e5;">
<h6>If you don't want to recieve such emails<a href="http://localhost:8080/frenz4/unsubscribe?email={{#reciever}}{{email}}{{/reciever}}">Unsubscribe here</a></h6>
</div>
</body>
</html>