<html>
<body>
<div style="background-color:#3284D8;margin:30px;padding:10px; margin-right:150px" class="container">
	<h1><center>Be Friendly</center></h1>
</div>
<div style="margin:30px;padding:10px; margin-bottom:30px;background-color:#D8E9FA;margin-right:150px">
<p>Hey</p>
<p>Your friend {{#loggedInUser}}{{name}}{{/loggedInUser}} invited you to join our website</p>
<p>Make a new friend in just one move</p>
Join now and get 50 bonus points</p> 
<p>These points can make you get exciting offers and discounts on your booking</p>
<p>Click the button below to accept this invitation</p>
<a href="http://localhost:8080/beFriendly/register"><button style="background-color:#0B71A6;color:black">Accept Invite</button></a>
</div>
<div style="margin:30px;padding:10px; margin-top:30px;background-color:#3284D8; margin-right:150px">
<h6>If you don't want to recieve such emails<a href="http://localhost:8080/beFriendly/unsubscribe?email={{#reciever}}{{email}}{{/reciever}}">Unsubscribe here</a></h6>
</div>
</body>
</html>