<html>
<body>
<div style="background-color:#1e88e5;margin:30px;padding:0px;" class="container">
	<h1><center>Frenz4</center></h1>
</div>
<div style="margin:30px;padding:10px; margin-bottom:30px;margin-right:150px">
<p>Hello</p>
<p>You can login to your account using following password</p>
<p>Password : {{pass}}.</p>
<p>You can change your password after login using above password as current password.</p>
</div>
<div style="margin:30px;padding:1px; margin-top:30px;background-color:#1e88e5;">
<h6>If you don't want to recieve such emails<a href="http://localhost:8080/frenz4/unsubscribe?email={{#reciever}}{{email}}{{/reciever}}">Unsubscribe here</a></h6>
</div>
</body>
</html>