<html>
<body>
<div style="background-color:#1e88e5;margin:30px;padding:0px" class="container">
	<h1><center>Frenz4</center></h1>
</div>
<div style="margin:30px;padding:10px; margin-bottom:30px;background-color:#D8E9FA;margin-right:150px">
<p>Hey {{#reciever}}{{name}}{{/reciever}}</p>
<p>Your request to be friend of {{#loggedInUser}}{{name}}{{/loggedInUser}} is {{response}}ed.</p>
<form action = "http://localhost:8080/frenz4/friends">
<button style="border-radius:10px">View Friends</button>
</form>
</div>
<div style="margin:30px;padding:1px; margin-top:30px;background-color:#1e88e5; ">
<h6>If you don't want to recieve such emails<a href="http://localhost:8080/frenz4/unsubscribe?email={{#reciever}}{{email}}{{/reciever}}">Unsubscribe here</a></h6>
</div>
</body>
</html>