<html>
<body>
<div style="background-color:#3284D8;margin:30px;padding:10px; margin-right:150px" class="container">
	<h1><center>Be Friendly</center></h1>
</div>
<div style="margin:30px;padding:10px; margin-bottom:30px;background-color:#D8E9FA;margin-right:150px">
<p>Hey {{#reciever}}{{name}}{{/reciever}}</p>
<p>Your request to be friend of {{#loggedInUser}}{{name}}{{/loggedInUser}} is {{response}}ed.</p>
<form action = "http://localhost:8080/beFriendly/friends">
<button>View Friends</button>
</form>
</div>
<div style="margin:30px;padding:10px; margin-top:30px;background-color:#3284D8; margin-right:150px">
<h6>If you don't want to recieve such emails<a href="http://localhost:8080/beFriendly/unsubscribe?email={{#reciever}}{{email}}{{/reciever}}">Unsubscribe here</a></h6>
</div>
</body>
</html>